streamlit>=1.28.0
nltk>=3.8.1
numpy>=1.24.0
scikit-learn>=1.3.0
tensorflow>=2.13.0
keras>=3.0.0
sacremoses
sentencepiece
spacy==3.7.2
spacy-langdetect==0.1.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
transformers==4.35.2
